.wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 960px;
  height: 100%;
}

.header {
  position: relative;
  float: left;
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.canvas {
  width: 960px;
  height: 465px;
}
