@import 'MagnifierGlassVariables.module.css';

.magnifierGlass {
  position: absolute;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  cursor: none;
  border: var(--glass-border-width) solid var(--border-color, var(--black));
  text-align: center;
}

.magnifierGlass::before {
  position: relative;
  display: block;
  content: '';
  width: calc(150px - var(--glass-border-width));
  height: calc(150px - var(--glass-border-width));
  border-radius: 50%;
  background-color: var(--white);
  opacity: 0.2;
  background-image: linear-gradient(var(--dark-grey) 0.6px, transparent 0.6px),
    linear-gradient(to right, var(--dark-grey) 0.6px, var(--white) 0.6px);
  background-size: 10px 10px;
}

.magnifierGlass::after {
  left: calc(50% - 1px);
  top: calc(50% - 1px);
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  border: 2px solid var(--white);
  box-sizing: border-box;
}
